#!/bin/bash
set -e

# Git pull
git pull origin master

# Update source table on website
cowid-vax get
cowid-vax process
cowid-vax generate
cowid-vax export

​
# Git push
git add output/*
git add source_table.html
git add automation_state.csv
git add ../../grapher/*
git add ../../../public/data/*
git commit -m 'data(vax): Update'
git push origin master
